.panel.panel-info
	.panel-heading
	| Generic
	.panel-body
		.col-md-12
			= bootstrap_nested_form_for(@pharm_item, :class => "form-horizontal form-groups-bordered") do |f|
				.col-md-6
					= f.text_field :name
					= f.text_field :central_restock_level,label: "Central Restock Level"
					= f.text_field :main_restock_level
					= f.text_field :dispensary_restock_level
					= f.text_field :ward_restock_level
				.col-md-6
					= f.select :sub_class_ids, SubClass.all.map{ |s| [s.name, s.id] }, :prompt => "Select Sub Class"
					= f.text_field :central_critical_level
					= f.text_field :dispensary_critical_level
					= f.text_field :main_critical_level
					= f.text_field :ward_critical_level
				.col-md-12
					= f.fields_for :brands
					= f.link_to_add 'Add brand',:brands, class: 'btn btn-mini btn-primary'
					= submit_button_tag(f.object)